* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  font-family: $body-font, Helvetica, Arial, sans-serif;
  color: $body-text-color;
}

img {
  // display: block;
  width: 100%;
}