extends layout

block content
  h1= title

  ul.recipe-list
    each recipe in recipes
      li= recipe.name

  h2 Add New Recipe
  form(action="/create" method="POST")
    div
      label(for="name") First Name
      input(type="text" name="name" id="name")
    div
      label(for="description") Description
      textarea(name="description" id="description")
    div
      input(type="submit")

