extends layout

block header

block content

  if !user
    body.app-login
      include mixins/_loginForm

      img(src="/images/app-logo.svg", alt="app-logo" class="login-logo")

      .app-login-container
        if locals.flashes
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
        
        +loginForm()(class="form--login")

  if user
    body.home
      if recipes
        ul.recipe-list
          each recipe in recipes
            li.recipe--item
              a(href=`/recipe/${recipe.slug}`) #{recipe.name}

    block scripts
      script(src="/dist/App.bundle.js")