doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  if !user
    body.app-login
      include mixins/_loginForm
      .app-login-container
        +loginForm()(class="form--login")

  if user
    body
      each recipe in recipes
        p= recipe.name

    block scripts
      script(src="/dist/App.bundle.js")