extends layout

include mixins/_recipeForm

block content
  section.hero(style="background-image: url('//unsplash.it/1280/400');")
    h1= recipe.name
    h2= recipe.description
  
  section
    +recipeForm(recipe)