extends layout

include mixins/_recipeForm

block content

  #form--recipe-edit

    section.hero.hero--recipe(style="background-image: url('//unsplash.it/1280/400');")
      h1 {{title}}
      h2= recipe.description
    
    section.recipe-content
      +recipeForm(recipe)