mixin recipeForm(recipe = {})
  li.recipe-card
    a(href=`/recipes/${recipe.slug}`)
      img.recipe-card--photo(src=`${recipe.photo || 'http://fillmurray.com/400/175'}`)
      p #{recipe.name}
      //- ul
      //-   each type in recipe.dish_type
      //-     li #{type}